/*h1 styles*/
header h1{
	color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-family: arial;
	background-color: lavender;
}

/*h2 styles*/
section h2{
	display: block;
	margin-left: 20px;
	margin-right: auto;
	text-align: left;
	font-family: arial;
	color: lavender;
}

/*paragraph styles*/
article p{
	font-size: 25px;
	text-align: left;
	margin-left: 20px;
	color: dimGray;
}

/*body styles*/
body {
	background-color: white;
	border-style: solid;
	color: dimGray;
	font-family: verdana;
}

/*Header Styles*/
header{
	border-style: solid;
	border-color: lavender;
}

/*Footer Styles*/
footer{
	text-align: center;
	padding-top: 35px;
	color: lavender;
}

/*Navigation styles*/
nav ul{
	background-color: lavender;
	list-style-type: none;
	text-decoration: none;
	text-align: left;
	font-size: 35px;
}

a:link{
	text-decoration:none;
}

nav ul li:hover{
	background-color: white;
	color: lavender;
}


/*list styles*/
article ol{
	font-size: 25px;
	text-align: left;
	margin-left: 20px;
	color: dimGray;
}

/*Column styles*/
.column {
  float: left;
  margin-left: 20px;
  width: 33.33%;
  padding: 5px;
  flex: 33.33%;
  text-align: center; 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

/*Image styles*/

img {
	border: solid;
	border-radius: 10%;	
}

img:hover {
  box-shadow: 0 0 2px 1px cyan;
}

/*Figure styles*/

figcaption {
	text-align: center;
	font-size: 15px;
	font-style: italic;
	color: dimGray;
}